NHIS_MODE=mock
CLAIMIT_HOST=localhost
CLAIMIT_PORT=31719
CLAIMIT_USERNAME=your_username_here
CLAIMIT_PASSWORD=your_password_here
NHIS_FACILITY_CODE=your_facility_code_here
APP_BASE_URL=http://localhost/hms-master/
